@model IEnumerable<Azki.Data.User>

@{
    ViewBag.Title = "کاربران";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvitationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvitationCodeUsageNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Family)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvitationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvitationCodeUsageNumber)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("جزئیات", "Details", new { id=item.UserId }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
