@model IEnumerable<Azki.Data.PersonalInsurance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncreasePercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentPeriodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncreasePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentPeriodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonalInsuranceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonalInsuranceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonalInsuranceId })
        </td>
    </tr>
}

</table>
