@model IEnumerable<Azki.Data.LifeInsurance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RedemptionValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbilityToPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalExpenses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeathCapital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalInsuranceId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RedemptionValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbilityToPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalExpenses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeathCapital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalInsuranceId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LifeInsuranceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LifeInsuranceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LifeInsuranceId })
        </td>
    </tr>
}

</table>
