@model Azki.Data.Insurance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Insurance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.InsuranceId }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
